@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&display=swap');

:root {
  --text-font : 'Oxygen', sans-serif;
  --title-font : 'Oxygen Mono', monospace;
}

body {
  background-color: #d6e0e2;
  margin: 0;
  padding: 0;
}
.line {
  width: 100%;
  height: 3px;
  background: linear-gradient(189deg, rgba(87,7,97,1) 0%, rgba(241,0,50,1) 100%);
  margin: 0 auto;
}
h1,h2,h3,p {
  margin: 0;
  padding: 0;
}

nav {
  color: rgb(58, 55, 55);
  font-family: var(--text-font);
  font-size: 120%;
  font-weight: 600;
  padding: 1rem;
  font-family: var(--text-font);
  
  & * {
    margin: 0.3rem;
  }
}

nav h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

nav h1 svg {
  width: 10%;
  border-radius: 50%;
}

nav li:first-child {
  flex-basis: 100%; /* take up all available space */
  text-align: center;
  font-family: var(--title-font);
  display: flex;
  }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  display: block;
  transition: all 0.1s ease-in-out;
  color: rgb(139, 13, 97);
}  

nav a:hover {
  color: rgb(7, 195, 241) ;
}

@media (min-width: 1000px) {

  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container * {
  cursor: default;
}

.container h1 {
  font-family: var(--title-font);
  color: rgb(108, 5, 177);
  margin: 2rem 0;
  text-decoration: underline;
  font-size: 200%;
}

.western-cities,
.eastern-cities,
.central-cities,
.southern-cities {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
}

.western-cities h2,
.eastern-cities h2,
.central-cities h2,
.southern-cities h2 {
  font-family: var(--title-font);
  color: rgb(4, 36, 124);
  text-decoration: underline;
}

.western-cities .city,
.eastern-cities .city,
.central-cities .city,
.southern-cities .city {
  flex-basis: 100%;
  align-items: center;
}

.western-cities .city .description ,
.eastern-cities .city .description ,
.central-cities .city .description ,
.southern-cities .city .description {
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem 0;
  background-color: rgba(34, 36, 36, 0.075);
}

.western-cities .city h3 ,
.eastern-cities .city h3 ,
.central-cities .city h3 ,
.southern-cities .city h3 {
  font-family: var(--title-font);
  color: rgb(139, 13, 97);
}

.western-cities .city p ,
.eastern-cities .city p ,
.central-cities .city p ,
.southern-cities .city p{
  font-family: var(--text-font);
  font-size: 1.2rem;
  color: rgb(58, 55, 55);
}

.western-cities .city .image ,
.eastern-cities .city .image ,
.central-cities .city .image ,
.southern-cities .city .image {
  padding: 1rem;
  border-radius: 50%;
  border-top: 1px solid rgb(58, 55, 55);
  border-left: 1px solid rgb(58, 55, 55);
}

.western-cities .city .image img ,
.eastern-cities .city .image img ,
.central-cities .city .image img ,
.southern-cities .city .image img {
  width: 100%;
  border-radius: 50%;
}

@media (min-width : 1000px) {

  .container {
    margin: 0 auto;
  }

  .western-cities .city ,
  .eastern-cities .city ,
  .central-cities .city ,
  .southern-cities .city {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(5 , 1fr) ;
    gap: 1rem;
  }

  .western-cities .city .description ,
  .central-cities .city .description {
    grid-column: 1/4;
  }

  .eastern-cities .city .description ,
  .southern-cities .city .description {
    grid-column: 3/6;
    grid-row :1/2;
  }

  .western-cities .city .image ,
  .central-cities .city .image {
    grid-column: 4/6;
  }

  .eastern-cities .city .image ,
  .southern-cities .city .image {
    grid-column: 1/3;
  }
}

.footer {
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center ;
  text-align: center;
}

.footer > .con h2 {
  font-family: var(--title-font);
  margin: 0;
  color: #5f0458;
  cursor: default;
}

.footer > .con > .social-medias {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer > .con > .social-medias > a {
  color: #000000;
  font-size: 200%;
  text-decoration: none;
  margin: 1rem 0;
}

.footer > .con > .social-medias > a:nth-child(1):hover {
  color: #3b5998;
}

.footer > .con > .social-medias > a:nth-child(2):hover {
  color: #55acee;
}

.footer > .con > .social-medias > a:nth-child(3):hover {
  color: #f78400;
}

.footer > .con > .social-medias > a:nth-child(4):hover {
  color: #061df0;
}

.footer > .con > small {
  font-size: 100% ;
  font-family: var(--text-font);
  color: #000000;
  margin: 0;
  cursor: default;
}

.footer > .con > small > a {
  margin: 0 0.5rem;
  color: #470666;
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
  font-size: 150%;
  transition: all 0.1s ease-in;

  &:hover {
    color: #000000;
  }
}