@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&display=swap');

:root {
  --text-font : 'Oxygen', sans-serif;
  --title-font : 'Oxygen Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d6e0e2;
}


.line {
  width: 100%;
  height: 2px;
  background: rgb(0, 0, 0) ;
  margin: 0 auto;
}

nav {
  color: rgb(58, 55, 55);
  font-family: var(--text-font);
  font-size: 120%;
  font-weight: 600;
  padding: 1rem;
  font-family: var(--text-font);
  
  & * {
    margin: 0.3rem;
  }
}

nav h1 {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

nav h1 svg {
  width: 10%;
  border-radius: 50%;
}

nav li:first-child {
  flex-basis: 100%; /* take up all available space */
  text-align: center;
  font-family: var(--title-font);
  display: flex;
  }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  display: block;
  transition: all 0.1s ease-in-out;
  color: rgb(139, 13, 97);
}  

nav a:hover,
nav [class*=fa-]:hover {
  color: rgb(15, 161, 206) ;
}

@media (min-width: 1000px) {

  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }

}



.cultur-con {
  display: flex;
  flex-direction: column;
}

.cultur-con > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
}

.cultur-con > div > div > img {
  width: 100%;
}



.footer {
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center ;
  text-align: center;
}

.footer > .con h2 {
  font-size: 120%;
  font-family: var(--title-font);
  margin: 0;
  color: rgb(139, 13, 97);
  cursor: default;
}

.footer > .con > .social-medias {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer > .con > .social-medias > a {
  color: #000000;
  font-size: 200%;
  text-decoration: none;
  margin: 1rem 0;
}

.footer > .con > .social-medias > a:nth-child(1):hover {
  color: #3b5998;
}

.footer > .con > .social-medias > a:nth-child(2):hover {
  color: #55acee;
}

.footer > .con > .social-medias > a:nth-child(3):hover {
  color: #f78400;
}

.footer > .con > .social-medias > a:nth-child(4):hover {
  color: #061df0;
}

.footer > .con > small {
  font-size: 100% ;
  font-family: var(--text-font);
  color: #000000;
  margin: 0;
  cursor: default;
}

.footer > .con > small > a {
  margin: 0 0.5rem;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
  font-size: 150%;
  transition: all 0.1s ease-in;

  &:hover {
    color: #000000a6;
  }
}